// Color Variables
$c-white: #fff;
$c-dark-white: #eff5fe;
$c-light-white: #e5eefd;
$c-black: #000;
$c-blue: #2393ec;
$c-dark-blue: #3888ff;
$c-light-blue: #96c0ff;
$c-text: #34366a;
$c-dark-text: #202131;
$c-green: #42cc71;
$c-dark-green: #23b097;
$c-whitesmoke: #8dcdff;
$c-active-whitesmoke: #ecedfe;
$c-grey: #72738e;
$c-light-grey: #d1d4ff;
$c-orange: #fa7c44;
$c-purple: #9195ce;
$c-purple-light: #656bf0;
$c-red: #e95050;

// New colors
$c-red-new: #ff4842;
$c-orange-new: #ff9000;
$c-orange-new1: #ffc107;
$c-blue-new: #3888ff;
$c-green-new: #00ab55;
$c-grey-100: #f7f8fa;
$c-grey-101: #d5d9e2;
$c-grey-102: #DFE2E9;
$c-grey-200: #919eab;
$c-grey-300: #637381;
$c-grey-400: #3c454e;
$c-purple-100: #f7d2ff;
$c-purple-200: #d0aeff;
$c-purple-300: #9e86ff;
$c-purple-400: #826af9;
$c-purple-500: #8952FF;
$c-blue-100: #ccfaff;
$c-blue-200: #a5f3ff;
$c-blue-300: #83cfff;
$c-blue-400: #2d99ff;
$c-green-100: #c0f2dc;
$c-green-200: #a4f7cc;
$c-green-300: #60f1c8;
$c-green-400: #2cd9c5;
$c-green-500: #7CBC3E;
$c-yellow-100: #fff3d6;
$c-yellow-200: #fff7ae;
$c-yellow-300: #ffef5a;
$c-yellow-400: #ffe700;
$c-orange-100: #fff2d4;
$c-orange-200: #ffbd98;
$c-orange-300: #ff8f6d;
$c-orange-400: #ff6c40;

// Transitions Variables
$transitionDefaultDuration: 0.3s;
$transitionFastDuration: 0.1s;

// Breakpoints
$breakpointXXl: 1699px;
$breakpointXLM: 1599px;
$breakpointXl: 1399px;
$breakpointLg: 1199px;
$breakpointMd: 991px;
$breakpointSm: 768px;
$breakpointXs: 475px;

$sidebarZIndex: 999;
$jivositeZIndex: 998;